Пока что делаем все в одном документе, уже потом все поделим по папкам и т.д.

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_excel("T_cashback_dataset.xlsx")

FileNotFoundError: ignored

In [ ]:
pd.set_option('display.max_columns', None) # чтобы видеть все столбцы при выводе таблицы

Есть вероятность, что нам не понадобятся колонки `total` и `total_cashback`, но пока я не уверен

In [ ]:
df['total'] = df.loc[:, ['оборот_аптеки', 'оборот_рестораны',
       'оборот_одежда_и_обувь', 'оборот_автоуслуги', 'оборот_супермаркеты',
       'оборот_такси', 'оборот_красота', 'оборот_развлечения',
       'оборот_жд_билеты', 'оборот_образование', 'оборот_дом_и_ремонт',
       'оборот_спорттовары', 'оборот_животные', 'оборот_цветы',
       'оборот_фастфуд', 'оборот_каршеринг', 'оборот_аренда_авто']].sum(axis=1)
df['total_cashback'] = df.loc[:, ['кэшбэк_аптеки', 'кэшбэк_рестораны',
       'кэшбэк_одежда_и_обувь', 'кэшбэк_автоуслуги', 'кэшбэк_супермаркеты',
       'кэшбэк_такси', 'кэшбэк_красота', 'кэшбэк_развлечения',
       'кэшбэк_жд_билеты', 'кэшбэк_образование', 'кэшбэк_дом_и_ремонт',
       'кэшбэк_спорттовары', 'кэшбэк_животные', 'кэшбэк_цветы',
       'кэшбэк_фастфуд', 'кэшбэк_каршеринг', 'кэшбэк_аренда_авто']].sum(axis=1)

In [ ]:
df = df.loc[:, ['ключ_клиента', 'регион_проживания', 'город_проживания', 'возраст',
       'пол', 'месяц_покупок', 'total', 'total_cashback', 'оборот_аптеки', 'оборот_рестораны',
       'оборот_одежда_и_обувь', 'оборот_автоуслуги', 'оборот_супермаркеты',
       'оборот_такси', 'оборот_красота', 'оборот_развлечения',
       'оборот_жд_билеты', 'оборот_образование', 'оборот_дом_и_ремонт',
       'оборот_спорттовары', 'оборот_животные', 'оборот_цветы',
       'оборот_фастфуд', 'оборот_каршеринг', 'оборот_аренда_авто',
       'активация_кэшбэка_аптеки', 'активация_кэшбэка_рестораны',
       'активация_кэшбэка_одежда_и_обувь', 'активация_кэшбэка_автоуслуги',
       'активация_кэшбэка_супермаркеты', 'активация_кэшбэка_такси',
       'активация_кэшбэка_красота', 'активация_кэшбэка_развлечения',
       'активация_кэшбэка_жд_билеты', 'активация_кэшбэка_образование',
       'активация_кэшбэка_дом_и_ремонт', 'активация_кэшбэка_спорттовары',
       'активация_кэшбэка_животные', 'активация_кэшбэка_цветы',
       'активация_кэшбэка_фастфуд', 'активация_кэшбэка_каршеринг',
       'активация_кэшбэка_аренда_авто', 'кэшбэк_аптеки', 'кэшбэк_рестораны',
       'кэшбэк_одежда_и_обувь', 'кэшбэк_автоуслуги', 'кэшбэк_супермаркеты',
       'кэшбэк_такси', 'кэшбэк_красота', 'кэшбэк_развлечения',
       'кэшбэк_жд_билеты', 'кэшбэк_образование', 'кэшбэк_дом_и_ремонт',
       'кэшбэк_спорттовары', 'кэшбэк_животные', 'кэшбэк_цветы',
       'кэшбэк_фастфуд', 'кэшбэк_каршеринг', 'кэшбэк_аренда_авто']]

In [ ]:
new_names = ['client_id', 'region', 'city', 'age', 'sex', 'month', 'total',
       'total_cashback', 'pharmacy', 'restaurants', 'clothes', 'car_service',
       'supermarkets', 'taxi', 'beauty', 'entertainment', 'railway',
       'education', 'house', 'sports_goods', 'pets', 'flowers', 'fastfood',
       'carsharing', 'rent_car', 'act_pharmacy', 'act_restaurants',
       'act_clothes', 'act_car_service', 'act_supermarkets', 'act_taxi',
       'act_beauty', 'act_entertainment', 'act_railway', 'act_education',
       'act_house', 'act_sports_goods', 'act_pets', 'act_flowers',
       'act_fastfood', 'act_carsharing', 'act_rent_car', 'back_pharmacy',
       'back_restaurants', 'back_clothes', 'back_car_service',
       'back_supermarkets', 'back_taxi', 'back_beauty', 'back_entertainment',
       'back_railway', 'back_education', 'back_house', 'back_sports_goods',
       'back_pets', 'back_flowers', 'back_fastfood', 'back_carsharing',
       'back_rent_car']
df = df.rename(columns=dict(zip(df.columns, new_names)))

*log*: поменял имена кэшбеков по формуле:
`cash_{название} -> back_{название}`

In [ ]:
df.to_csv("cashback_copy.csv")

In [ ]:
new = df.loc[:, 'act_pharmacy':'act_rent_car'].sum(axis=1)
new.loc[new == 4].size

724

In [ ]:
(df.loc[:, ['act_pharmacy', 'act_restaurants',
       'act_clothes', 'act_car_service', 'act_supermarkets', 'act_taxi',
       'act_beauty', 'act_entertainment', 'act_railway', 'act_education',
       'act_house', 'act_sports_goods', 'act_pets', 'act_flowers',
       'act_fastfood', 'act_carsharing', 'act_rent_car']].count(axis=1) > 4).sum()

14203

In [ ]:
(df.loc[:, ['act_pharmacy', 'act_restaurants',
       'act_clothes', 'act_car_service', 'act_supermarkets', 'act_taxi',
       'act_beauty', 'act_entertainment', 'act_railway', 'act_education',
       'act_house', 'act_sports_goods', 'act_pets', 'act_flowers',
       'act_fastfood', 'act_carsharing', 'act_rent_car']].sum(axis=1) > 4).sum()

0

In [ ]:
df

,client_id,region,city,age,sex,month,total,total_cashback,pharmacy,restaurants,clothes,car_service,supermarkets,taxi,beauty,entertainment,railway,education,house,sports_goods,pets,flowers,fastfood,carsharing,rent_car,act_pharmacy,act_restaurants,act_clothes,act_car_service,act_supermarkets,act_taxi,act_beauty,act_entertainment,act_railway,act_education,act_house,act_sports_goods,act_pets,act_flowers,act_fastfood,act_carsharing,act_rent_car,cash_pharmacy,cash_restaurants,cash_clothes,cash_car_service,cash_supermarkets,cash_taxi,cash_beauty,cash_entertainment,cash_railway,cash_education,cash_house,cash_sports_goods,cash_pets,cash_flowers,cash_fastfood,cash_carsharing,cash_rent_car
0,1889,Москва,Москва,50,M,2023-04-01,769455.0,21186.0,18993.0,99900.0,3294.0,NaN,397450.0,86037.0,96570.0,27420.0,NaN,NaN,9112.0,2100.0,NaN,660.0,27919.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,864.0,486.0,NaN,NaN,19836.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1889,Москва,Москва,50,M,2023-05-01,817209.0,16161.0,37807.0,92424.0,NaN,6750.0,219394.0,109221.0,80520.0,76950.0,NaN,NaN,63936.0,5550.0,37147.0,NaN,87510.0,NaN,NaN,1.0,NaN,NaN,0.0,1.0,NaN,1.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1884.0,NaN,NaN,NaN,10614.0,NaN,3663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1889,Москва,Москва,50,M,2023-06-01,1059606.0,24009.0,20791.0,124800.0,51246.0,67490.0,479201.0,100395.0,66165.0,113100.0,NaN,NaN,16413.0,4215.0,8122.0,NaN,7668.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,21.0,2025.0,NaN,NaN,21963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1889,Москва,Москва,50,M,2023-07-01,1158324.0,28086.0,131129.0,18060.0,78120.0,2400.0,532117.0,63909.0,59280.0,NaN,NaN,NaN,240492.0,NaN,18297.0,NaN,14520.0,NaN,NaN,1.0,1.0,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6033.0,NaN,NaN,NaN,22053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1889,Москва,Москва,50,M,2023-08-01,1104241.0,22584.0,44096.0,198480.0,19080.0,147705.0,286070.0,69279.0,178920.0,NaN,NaN,NaN,58884.0,13200.0,NaN,NaN,88527.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13491.0,NaN,9093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59821,1005319581,Москва,Москва,37,NaN,2023-05-01,174758.0,0.0,657.0,54375.0,NaN,NaN,42113.0,46719.0,NaN,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,24894.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59822,1005319581,Москва,Москва,37,NaN,2023-06-01,273375.0,5634.0,NaN,128070.0,NaN,NaN,37164.0,86751.0,1800.0,5400.0,NaN,NaN,NaN,NaN,NaN,NaN,14190.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,5364.0,NaN,NaN,NaN,NaN,NaN,270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59823,1005319581,Москва,Москва,37,NaN,2023-07-01,168676.0,2907.0,5919.0,26085.0,NaN,NaN,32419.0,31272.0,NaN,27300.0,2700.0,NaN,2997.0,NaN,NaN,NaN,39984.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1542.0,NaN,1365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59824,1005319581,Москва,Москва,37,NaN,2023-08-01,205576.0,2427.0,1705.0,111690.0,NaN,NaN,16539.0,47529.0,1950.0,2778.0,NaN,NaN,NaN,NaN,NaN,NaN,23385.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,2343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59825,1005319581,Москва,Москва,37,NaN,2023-09-01,203287.0,3282.0,2832.0,89370.0,NaN,NaN,39767.0,59742.0,NaN,195.0,NaN,NaN,NaN,NaN,NaN,NaN,11381.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Узнать то, насколько менялся выбор кэшбэка от месяца к месяцу

In [ ]:
ser = pd.Series(dtype=int)
last_ind = 0
for i in range(0, 59821, 6):
  person = df.iloc[i:i + 6].loc[:, 'act_pharmacy':'act_rent_car']
  for j in range(1, 6):
    res = 0
    first = person.iloc[j - 1].loc[person.iloc[j - 1] == 1].index
    second = person.iloc[j].loc[person.iloc[j] == 1].index
    for ind in second:
      if ind not in first:
        res += 1
    ser.at[last_ind] = res
    last_ind += 1
ser

0        1
1        1
2        0
3        1
4        1
        ..
49850    0
49851    3
49852    1
49853    1
49854    1
Length: 49855, dtype: int64

In [ ]:
ser.mean()

1.335492929495537

In [ ]:
ser = pd.Series(dtype=int)
last_ind = 0
for i in range(0, 59821, 6):
  person = df.iloc[i:i + 6].loc[:, 'act_pharmacy':'act_rent_car']
  a = set()
  for j in range(6):
    second = person.iloc[j].loc[person.iloc[j] == 1].index
    for ind in second:
      a.add(ind)
  ser.at[last_ind] = len(a)
  last_ind += 1
ser

0       5
1       8
2       8
3       7
4       6
       ..
9966    4
9967    5
9968    6
9969    6
9970    5
Length: 9971, dtype: int64

In [ ]:
ser.mean()

6.138902818172701

In [ ]:
acts = df.loc[:, 'act_pharmacy':'act_rent_car']
df1 = pd.DataFrame(columns=acts.columns)
for i in range(0, 59821, 6):
    act = acts.iloc[i:i + 6].sum(axis=0)
    df1.loc[-1] = act
    df1.index += 1
df1 = df1.sort_index()

KeyboardInterrupt: ignored

In [ ]:
for i in df1.columns:
    print(f'{i}: {len(df1[(2 <= df1[i]) & (df1[i] <= 4)])}')

NameError: ignored